html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
  background-color: #FAFBFC;
}

.line{
  background-image: linear-gradient(to right, #50E6FF, #35C1F1, #199BE2, #0078D4, #0D62AB);
  height: 3.5px;
}

.header{
  position: sticky;
  top: 0;
  z-index: 10;
}

.title{
  padding: 13.5px 50px;
  background-color: #FFF;
  box-shadow: 0 2px 8px #00000018;
}
.title a{
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
}

.title h1{
  color: #0D62AB;
  margin: 0;
  margin-left: 10px;
}

.searchbar{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFBFC22;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.searchbar input{
  background-color: #FBFCFD00;
  outline: none;
  border: none;
  border-bottom: 1px solid #F4F5F6;
  width: 300px;
  padding: 7px;
  font-size: 19px;
  box-sizing: border-box;
  color: #999;
}
.searchbar input:focus{
  border-bottom: 1px solid #199BE2;
}
::placeholder{
  color: #999;
}

.searchbar button{
  border: none;
  outline: none;
  background-color: #FFF;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  /* border: 3px solid #35C1F122; */
  color: #0D62AB;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 7px #0004;
}

@keyframes click{
  0%{box-shadow: 0 2px 7px #0004;}
  50%{box-shadow: 0 0 1px #0004;}
  100%{box-shadow: 0 2px 7px #0004;}
}

.searchbar button:active{
  animation: 0.15s click linear;
}

.sortbar{
  padding: 0 20px;
  text-align: center;
}

.sortbar button{
  border: none;
  outline: none;
  font-size: 17px;
  cursor: pointer;
  color: #FFF;
  margin: 5px;
  transition: box-shadow 0.35s ease-in-out;
}
.sortbar button:nth-of-type(1){
  padding: 10px;
  border-radius: 10px;
  background-color: #50E6FF;
}

.sortbar button:nth-of-type(2){
  padding: 10px;
  border-radius: 10px;
  background-color: #199BE2;
}

.sortbar button:nth-of-type(3){
  padding: 10px;
  border-radius: 10px;
  background-color: #0D62AB;
}
.sortbar button:hover{
  box-shadow: 0 2px 9px #0004;
}


.sortinfo{
  color: #999;
  margin: 15px 0;
  font-size: 17px;
}

.sortcrit{
  font-weight: bold;
  color: #0078D4;
}

.sortinfo > span:nth-of-type(2){
  font-size: 15px;
}

.startpage{
  display: flex;
  align-items: center;
  justify-content: center;
}
.startpage img{
  position: static;
  z-index: -1;
  margin-right: 10px;
  animation: spin 5s linear infinite;
}

@keyframes spin{
	0%{transform: rotate(0deg);}
	3%{transform: rotate(-15deg);}
	6%{transform: rotate(-20deg);}
	9%{transform: rotate(-23deg);}
	12%{transform: rotate(-24deg);}
	15%{transform: rotate(-20deg);}
	30%{transform: rotate(360deg);}
	33%{transform: rotate(375deg);}
	36%{transform: rotate(380deg);}
	39%{transform: rotate(383deg);}
	42%{transform: rotate(384deg);}
	45%{transform: rotate(380deg);}
  50%{transform: rotate(360deg);}

	100%{transform: rotate(360deg);}
}

.content{
  padding: 30px 50px;
  text-align: center;
}
.intro{
  color: #999;
  margin-top: 15px;
  font-size: 17px;
}

.repo-content{
  /* padding: 30px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.repo-item:nth-child(-n+3) .repo-title::after{
  position: absolute;
  padding: 1px 6px;
  font-size: 15px;
  margin: 0 0 0 -26px;
  border-radius: 4px;
  font-weight: bold;
}

.repo-item:first-child .repo-title::after{
  content: "1";
  color: #FFF;
  background-color: #F9D923;
}

.repo-item:nth-child(2) .repo-title::after{
  content: "2";
  color: #FFF;
  background-color: #A0BCC2;
}

.repo-item:nth-child(3) .repo-title::after{
  content: "3";
  color: #FFF;
  background-color: #FF7700;
}

.repo-item{
  width: 345px;
  height: max-content;
  background-color: #FFF;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 0 2px 12px #00000012;
  box-sizing: border-box;
  padding: 15px;
  color: #999;
  transition: box-shadow 0.15s ease-in-out;
  /* flex-grow: 1; */
}
.repo-item:hover{
  box-shadow: 0 2px 20px #00000025;
}

.repo-title{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  word-break: break-all;
  text-align: left;
}
.repo-title img{
  height: 30px;
  border-radius: 50%;
}
.repo-title h3{
  margin: 0 3.5px 0 3.5px;
}
.repo-title a{
  color: #0078D4;
  font-weight: 500;
  text-decoration: none;
}
.repo-title span{
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  min-width: max-content;
}

.repo-description{
  margin: 15px 0 14px;
  text-align: left;
  word-wrap: break-word;
}

.repo-item:hover > .repo-description{
  opacity: 0;
}

.repo-overview{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.modal{
  width: 345px;
  box-sizing: border-box;
  display: none;
	position: absolute;
  z-index: 1;
  box-shadow: 0 3px 13px #00000012;
	border-radius: 10px;
	padding: 15px;
  margin: 0px 0 0 -15px;
  background-color: #FAFBFC22;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.modal > div:nth-child(1){
  text-align: left;
  margin-bottom: 12px;
  word-wrap: break-word;
}

.modal > div:nth-child(2){
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.modal > div > div{
  text-align: left;
  line-height: 25px;
}

.modal > div > div i{
  width: 20px;
}

.repo-item:hover .modal {
  display: block;
}

.scrollup{
  padding: 8px 7px;
  border: none;
  outline: none;
  background-color: #FFF;
  border-radius: 10px;
  color: #0D62AB;
  font-size: 19px;
  cursor: pointer;
  box-shadow: 0 2px 7px #0004;
  position: fixed;
  bottom: 30px;
  right: 25px;
}

.ftr{
  color: #999;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.ftr > div{
  margin: 0 50px;
}

.ftr > div:last-child{
  display: flex;
}

.ftr > div:last-child > div{
  margin: 0 15px;
}

.ftr > div:last-child ul{
  padding-left: 0px;
  margin-top: 10px;
}

.ftr > div:last-child li{
  list-style-type: none;
}

.ftr > div:last-child li::before{
  content: "\203A";
  margin-right: 5px;
  color: #0078D4;
}

.ftr > div:last-child li a{
  text-decoration: none;
  color: #999;
}

@media(max-width: 700px){
  button, a{
    cursor: default !important;
  }
  .title{
    padding: 13px 20px;
    display: flex;
    justify-content: center;
  }

  .title h1{
    font-size: 25px;
  }

  .title img{
    width: 50px;
    height: 50px;
  }

  .searchbar input{
    width: 250px;
  }

  .content{
    padding: 20px;
    font-size: 15px;
  }

  .repo-title img{
    height: 25px;
  }

  .repo-item{
    width: 100%;
    margin: 17px 15px;
  }

  .modal{
    width: calc(100% - 40px - 30px);
  }

  .scrollup{
    bottom: 20px;
    right: 15px;
  }

  .ftr{
    display: block;
    width: 80%;
  }

  .ftr > div{
    margin: 0px;
  }

  .ftr > div:last-child{
    display: block;
  }

  .ftr > div:last-child > div{
    margin: 20px 10px 0 0;
  }
}
