:root{
    --white: #FFF;
    --blue: #199BE2;
    --light-blue: #50E6FF;
    --dark-blue: #0D62AB;
    --light-blue-border: #35C1F1;
    --dark-blue-border: #0078D4;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

header{
    padding: 15px 30px;
    background-color: var(--white);
    box-shadow: 0 3px 10px #00000020;
}

header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--blue);
    width: max-content;
}

header h1{
    margin: 0;
    margin-left: 10px;
}

.repo__card{
    overflow-y: hidden;
    max-height: 300px;
    width: 400px;
    margin: 0 0 10px;
    padding: 0 10px;
    box-shadow: 0 3px 10px #00000020;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.repo__card > *{
    margin: 10px 0;
}

.repo__card > div{
    width: 100%;
}
.repo__card img{
    width: 50px;
    height: 50px;
}
